.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;  /* Space between image and text */
    padding: 50px;
    max-width: 1800px;
}
.aboutmeimg {
    flex: 1;  /* Allows the image container to take some space */
    display: flex;
    justify-content: center;
    align-items: center;
}
