.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;  /* Space between image and text */
    padding: 50px;
    max-width: 1800px;
}
.aboutmeimg {
    flex: 1;  /* Allows the image container to take some space */
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutmeimg img {
    margin-top: 100px;
    width: 600px;  /* Adjust the image size */
    height: auto;
    border-radius: 20px;  /* Makes the image circular */
    box-shadow: 0px 4px 8px rgba(255, 137, 2, 0.2);
}
.aboutme-content {
    flex: 2;  /* Gives text more space than the image */
    text-align: left;
}
.aboutme h1 {
    font-size: 50px;
    color: #6b6969;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}
