.aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;  /* Space between image and text */
    padding: 50px;
    max-width: 1800px;
}

.aboutmeimg {
    flex: 1;  /* Allows the image container to take some space */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.aboutmeimg img {
    margin-top: 20px;
    width: 600px;  /* Adjust the image size */
    height: auto;
    border-radius: 20px;  /* Makes the image circular */
    box-shadow: 2px 4px 30px rgba(255, 137, 2, 0.9);
}

.aboutme-content {
    flex: 2;  /* Gives text more space than the image */
    text-align: left;
}

.aboutme h1 {
    font-size: 50px;
    color: #ff6600;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.aboutme p {
    font-size: 20px;
    color: #cec7c7;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
    line-height: 1.6;
}
.btn2{

    padding: 10px;
    margin-top: 60px;
    margin-left: 230px;
    background-color: rgb(233, 116, 38);
    width: 200px;
    border: 1px solid rgb(71, 71, 71);
}
