.skills-section {
    padding: 4rem 2rem;
    margin-top: 60px;
    margin-bottom: 200px;
  }
  .skills-header {
    text-align: center;
    margin-bottom: 3rem;
  }
  .skills-header h2{
    color: #ff7300;
  }
  .section-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #ff7300;
  } 